@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    @include m.box-sizing(border-box);
}

body {
    background-color: v.$pink;
}

*, *::after, *::before {
    @include m.box-sizing(inherit);
}

//Texto
p {
    color: v.$negro;
    font-size: 2rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3.2rem;
}

//links
a {
    text-decoration: none;
}

//imagenes
img {
    max-width: 100%;
    display: block;
}

//contenedores
.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 95%;
}