@use 'variables' as v;
@use 'sass:color';

//MIXINS

@mixin box-sizing ($box_model) {
    box-sizing: $box_model;
}

//Botón
@mixin btn($bgcolor, $fgcolor) {
    background-color: $bgcolor;
    border: 0;
    border-radius: 1rem;
    color: $fgcolor;
    //display: block;
    font-weight: 700;
    padding: 1.2rem 3rem;
    text-align: center;
    text-decoration: none;
    
    //TRANSICION DE HOVER EN EL BOTON DE REGISTRARSE
    transition: background-color 0.4s ease;

    &:hover {
        background-color: color.adjust($bgcolor, $lightness: -15%);
    }

    width: 100%;
}

//Crear grid
@mixin creargrid($num-columnas: 2, $gap: 10px) {
    display: grid;
    grid-template-columns: repeat($num-columnas, 1fr);
    gap: $gap;
}

@mixin creargridcompleto($num-columnas: 2, $num-filas: 1, $gap: 10px) {
    display: grid;
    grid-template-columns: repeat($num-columnas, 1fr);
    grid-template-rows: repeat($num-filas, 1fr);
    gap: $gap;
}

//Media-queries
// @mixin mobile {
//     @media screen and (min-width: v.$small) {
//         @content;
//     }
// }

@mixin mobileespecial {
    @media screen and (min-width: v.$especial) {
        @content;
    }
}

@mixin mobile {
    @media screen and (min-width: v.$medium) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: #{v.$big}) {
        @content;
    }
}